
body{
background-color:rgb(34, 77, 77);
align-items:center;

margin:0px;
justify-content:center;
display:flex;
text-align:center;
font-family:Georgia, 'Times New Roman', Times, serif


}
#about{
  border:1px solid lightblue;
  color:whitesmoke;
  width:max-content;
  border-radius:20px;
  align-items:center;
  justify-content:center;
  margin:100px;
}
#projects{
    border:1px solid lightblue;
  color:whitesmoke;
  width:1000px;
  border-radius:20px;
  align-items:center;
  justify-content:center;
  margin:100px;
  
}
#contacts{
    border:1px solid lightblue;
  color:whitesmoke;
  width:1000px;
  border-radius:20px;
  align-items:center;
  justify-content:center;
  margin:100px;
}
nav{
  background-color:#3BC1A8;
  width:100%;
}
.navBar{
  justify-content:flex-end;
  display:flex;
  gap:30px;
  padding-right:15px;
  color:#49d7daff
   
}
.image{
  align-items:center;
  justify-content:center;
  padding:20px;
  border-radius: 50%;
  width:200px;
  height:200px;
  object-fit:cover;
}
.container{
  max-width:max-content;
  border:1px solid ;
  border-radius:5px;
  margin:10px;
  
}
.buttons{
  border-radius:20px;
  background-color:blueviolet;
   color:lightGreen  ;
    gap:20px;
     margin:10px;
}
footer{
  gap:20px;
  padding:20px;
  background-color:#249E94;
  margin-top:5px;
  
}

nav:hover a{
  color:green;
  cursor:pointer;
}
.buttonss{
  background: rgb(45, 186, 45);
color:#49d7daff;
    border-radius:20px;
}
.buttonss:hover{
  color:green;
  cursor:pointer;

}
h2{
  color:#49d7daff;
}
h2:hover{
  color:green;
  cursor:pointer;
}
.buttons:hover{
color:green;
cursor:pointer;
}